{
  "release": {
    "branches":  [
    "master",
    {"name": "card-124", prerelease: true},
    {"name": "beta", prerelease: true}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        markdownReleaseNotes: true
      }
    ],
    "@semantic-release/github"
  ]
}
}